services:
  # 1. Banco de Dados (PostgreSQL)
  postgres:
    image: postgres:15-alpine
    container_name: oxyfood_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: oxyfood_local
    volumes:
      - ./docker_data/postgres:/var/lib/postgresql/data
    networks:
      - oxyfood_net

  # 2. Redis (Filas e Cache)
  redis:
    image: redis:alpine
    container_name: oxyfood_redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - ./docker_data/redis:/data
    networks:
      - oxyfood_net

  # 3. Redis Commander (Visualizador)
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: oxyfood_redis_ui
    environment:
      REDIS_HOSTS: "local:oxyfood_redis:6379"
    ports:
      - "8081:8081"
    depends_on:
      - redis
    networks:
      - oxyfood_net

  # 4. Evolution API (WhatsApp)
  evolution_api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      SERVER_URL: "http://localhost:8080"
      DOCKER_ENV: "true"
      AUTHENTICATION_API_KEY: "oxyfood_secret_key_123"

      # --- CONFIGURAÇÃO DE BANCO ---
      DATABASE_ENABLED: "false"
      DATABASE_PROVIDER: "postgresql"
      DATABASE_CONNECTION_URI: "postgresql://docker:docker@oxyfood_postgres:5432/oxyfood_local?schema=public"

      # --- CONFIGURAÇÃO DO REDIS ---
      CACHE_REDIS_ENABLED: "true"
      CACHE_REDIS_URI: "redis://oxyfood_redis:6379/0"
      CACHE_REDIS_PREFIX: "evolution:"
      CACHE_LOCAL_ENABLED: "false"
      DEL_INSTANCE: "false"

      # --- WEBHOOK GLOBAL ---
      WEBHOOK_GLOBAL_URL: "http://host.docker.internal:3333/webhooks/evolution"
      WEBHOOK_GLOBAL_ENABLED: "true"
      WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS: "false"
      WEBHOOK_EVENTS_MESSAGES_UPSERT: "true"
    volumes:
      - ./docker_data/evolution_store:/evolution/store
    networks:
      - oxyfood_net

networks:
  oxyfood_net:
    driver: bridge
