services:
  redis:
    image: redis:alpine
    container_name: oxyfood_redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - ./docker_data/redis:/data
    networks:
      - oxyfood_net

networks:
  oxyfood_net:
    driver: bridge
